@import url("/src/index.css");

.swapBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin: 20px 0;
}

.currencyCard {
  flex: 1;
  height: 48px;
  background: var(--white);
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--blue-main);
  
}

.currencyCard select {
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.swapButton {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--blue-water);
  border: none;
  color: white;
  cursor: pointer;
  font-size: large;
}
