@import url("/src/index.css");

.swapBox {
  display: flex;
}

.selectedCurrency {
  width: 80px;
  height: 32px;
  padding: 0 8px;
  font-size: 16px;
  box-sizing: border-box;
  border: solid 2px var(--gray);
  border-radius: 5px;
}

.desiredCurrency {
  width: 80px;
  height: 32px;
  padding: 0 8px;
  font-size: 16px;
  box-sizing: border-box;
  border: solid 2px var(--gray);
  border-radius: 5px;
}
