@import url("./index.css");

.card {
  background: var(--white);
 border-radius: 0px 0px 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 20px;

}

.historyCard{
  border-top: 1px solid var(--gray);
  background: var(--white);
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 5px;
  padding: 20px;

}
