:root{
  --background: #f8f0f0;
  --blue-main: #183f63;
  --blue-water: #6cbebb;
  --blue-water-dark: #549694;
  --gray: #b6b6b6;
  --light-gray: #efeeee;
  --white: #FFFFFF;
}

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: var(--background);
}

:global(body) {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}